nav{
    display:flex;
    list-style-type: none;
    background-color: rgb(25, 25, 53);
}
nav li a{
    text-decoration: none;
    color: white;
}
nav li{
    padding: 20px;
}
nav li:hover{
    opacity: 0.6;
}